*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color:#B7D2D7;
  width: 1028px;
  height: 150px;
  text-align: center;
}

.footer {
  width: 1028px;
  height: 100px;
  text-align: center;
  font-size: 10px;
  background-color: #EAD584;
}

main {
  width: 1028px;
  height: 1000px;
  background-color: #F4F1E2;
  text-align: center;
}