@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&&family=Roboto:wght@500&family=Barlow&family=Walter+Turncoat&display=swap');
*{
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 245, 249);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App{
  background-color: #F4F1E2;
}
.header {
  background-color:#B7D2D7;
  width: 1028px;
  height: 200px;
  text-align: center;
}

nav, nav>a, nav>a:link, nav>a:visited{
  background-color:#B7D2D7;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  justify-content: center;
  gap: 150px;
  color: white;
  text-decoration: none;
}

a, a:visited, a:link{
  text-decoration: none;
  color: black;
}

.footer {
  width: 1028px;
  height: 100px;
  text-align: center;
  font-size: 11px;
  background-color:#F4F1E2;
  margin: 100px 0px 100px 0px;
}

main {
  width: 1028px;
  height: 100vh;
  background-color: #F4F1E2;
  text-align: center;
  font-family: 'Barlow', sans-serif;
}

.content-margin{
  margin: 50px;
}

.index-container{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.title{
  margin: 50px;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
}

.mood-container{
  width:500px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
}
.center-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}
.input{
  padding: 10px;
  margin: 10px;
  width: 500px;
  border: 1px solid #EAD584;
  background-color: #fefff8;
  border-radius: 5px;
}
.button-size{
  padding: 10px;
  margin: 10px;
  width: 90px;
  border: 1px solid #EAD584;
  background-color: #fefff8;
  border-radius: 5px;
}
.food-list{
  display: flex;
  align-items: center;
}

.food-list-item{
  width: 650px;
  text-align: left;
  margin-left: 30px;
}
label{
  display: inline-block;
  width: 150px;
  text-align: right;
}
.button{
  margin-left: 160px;
  background-color: #EAD584;
 }

 .box-size{
  height: 300px;
 }

textarea{
  vertical-align: middle;
}
#logo{
  margin-top: 10px;
}
#image{
  max-height: 600px; 
  max-width: 400px;
}
#mood{
  color:#8498bb;
  font-weight: 700;
}
#food-name{
  font-weight: 300;
}
#info{
  width:400px;
  text-align: left;
  font-family: 'Barlow', sans-serif;
  line-height:20px;
}
.button-color{
  background-color: #EAD584;
}
table {
  width: 80%;
  background-color:#F4F1E2;
  margin-left: 100px;
  margin-bottom: 1px;
  border-collapse: collapse;
  border-spacing: 1px;
}
.col1{
  width: 100px;
  height: 50px;
  text-align: left;
}
.col2{
  width: 400px;
  text-align: left;
}
.col3{
  width: 100px;
}

th {
  font-weight: bold;
}

.bold{
  font-family: 'Roboto', sans-serif;
}
.about{
  margin: 30px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 30px;
  font-size: 20px;
  line-height:35px;
  
}
#about-img{
  width: 100%;
}