body {
  margin: 0;
  padding: 0;
}

.header {
  height: 10vh;
  background-color: rgb(41, 143, 143);
}

.footer {
  height: 10vh;
  background-color: rgb(101, 140, 203);
}

main {
  height: 90vh;
  background-color: rgb(89, 162, 138);
}
